<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="robots" content="index, follow">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta property="fb:page_id" content="">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:site" content="">
  <meta name="geo.placename" content="">
  <meta name="geo.position" content="">
  <meta name="geo.region" content="">
  <meta name="ICBM" content="">
  <link rel="canonical" href="">
  <link rel="original-source" href="">

  <link type="text/css" rel="stylesheet" href="/css/app.css">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "",
      "url": "",
      "sameAs": [
        "",
        "",
        ""
      ]
    }
  </script>
  <title>Meritage Homes</title>
  <!--[if IE]>
          <link rel="stylesheet" href="/css/app.css">
      <![endif]-->
  <script src="https://use.typekit.net/iqx2twd.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
  <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
  <style>
      h2 {max-width: initial !important;}
  </style>
</head>
