<div id="site-search--overlay" class="hidden">
  <div id="site-search--close">
    <div class="row align-center">
      <div class="small-12 medium-10 large-8 columns text-right">
        <a href="#" aria-hidden="true">&times;</a>
      </div>
    </div>
  </div>

  <!-- THIS NEEDS TO BE UPDATED TO SUBMIT TO SEARCH RESULTS PAGE -->
  <form id="site-search--form" action="/pages/8.1-global-search/index.php" method="GET">
    <div class="row align-center">
      <div class="small-12 medium-10 large-8 columns">
        <label for="site-search--input">
          Search for Communities, Floorplans, Resources, or Keywords.
        </label>
        <div class="search-input-container">
          <input type="text" name="search" id="site-search--input" autocomplete="off" />
          <input type="submit" class="show-for-sr" value="search" />
        </div>
      </div>
    </div>
  </form>

  <div class="search-options">
    <div class="row">
      <div class="small-12 columns">
        <!-- <h2 class="text--white">Start the search for your perfect home.</h2> -->
        <h2 class="text--white">Additional search options</h2>
      </div>
    </div>
    <div class="row align-center align-middle" data-equalizer>
      <div class="small-12 medium-4 columns">
        <article role="complementary" aria-label="first suggested article name" class="site-search--content-block" data-equalizer-watch>
          <h3>New home search</h3>
          <p>Use these steps as your guide to feel prepared and confident at every step of the home financing process.</p>
          <a href="#[LINK TO HOMES PAGE]" class="button outline">Find your home</a>
        </article>
      </div>
      <div class="small-12 medium-4 columns">
        <article role="complementary" aria-label="second suggested article name" class="site-search--content-block" data-equalizer-watch>
          <h3>Guided home search</h3>
          <p>Downsizing doesn’t have to mean downgrading. See tips and tricks to prepare you for your move into a smaller home.</p>
          <a href="#[LINK TO GUIDED HOME SEARCH PAGE]" class="button outline">Let's get started</a>
        </article>
      </div>
      <div class="small-12 medium-4 columns">
        <article role="complementary" aria-label="third suggested article name" class="site-search--content-block" data-equalizer-watch>
          <h3>Home buying resources</h3>
          <p>From cabinet hardware to tub styles, see bathroom design ideas and upgrades to make it a space you'll value.</p>
          <a href="#[LINK TO BUYER RESOURCES PAGE]" class="button outline">Start browsing</a>
        </article>
      </div>
    </div>
  </div>
</div>