.tab-icon-max-size{
	max-width: 70px;
}

.tab-icon-max-size2{
	max-width: 68px;
}

.margin-right-10{
    margin-right: 10px;
}

@media (max-width: 1023px) {
    #js-live-agent-button-container  { display:none; }
}