<footer role="contentinfo">
  <div class="row full-width diff">
    <div class="columns">
      <div class="row footer--top">
        <div class="small-6 medium-3 large-2 column">
          <h3>Homes</h3>
          <ul>
            <li>
              <a href="#">New Homes</a>
            </li>
            <li>
              <a href="#">Tour a Meritage Home</a>
            </li>
            <li>
              <a href="#">Home Buying 101</a>
            </li>
          </ul>
        </div>
        <div class="small-6 medium-3 large-2 column">
          <h3>Company</h3>
          <ul>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Meritage Cares</a>
            </li>
            <li>
              <a href="#">Newsroom</a>
            </li>
            <li>
              <a href="#">Corporate Offices</a>
            </li>
            <li>
              <a href="#">Investor Relations</a>
            </li>
          </ul>
        </div>
        <div class="small-6 medium-3 large-2 column">
          <h3>Lifestyle</h3>
          <ul>
            <li>
              <a href="#">Active Adult</a>
            </li>
            <li>
              <a href="#">Monterey Homes</a>
            </li>
          </ul>
        </div>
        <div class="small-6 medium-3 large-2 column">
          <h3>Contact</h3>
          <ul>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Directions</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Warranty Request</a>
            </li>

            <li>
              <a href="#">Vendor Partners</a>
            </li>
          </ul>
        </div>
        <div class="small-12 medium-12 large-4 optin column">
          <div class="optin--social">
            <a href="https://www.facebook.com/meritagehomes" title="Meritage Facebook" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.twitter.com/meritagehomes" title="Meritage Twitter" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.pinterest.com/meritagehomes" title="Meritage Pinterest" target="_blank">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/meritagehomes" title="Meritage YouTube" target="_blank">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/meritagehomes" title="Meritage Instagram" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.houzz.com/pro/meritagehomesbuilder/meritage-homes" title="Meritage Houzz" target="_blank">
              <i class="fa fa-houzz" aria-hidden="true"></i>
            </a>
          </div>
          <div class="optin--signup">
            <p>Home updates and promotions delivered to your inbox</p>
            <form id="footer-optin" data-abide novalidate>
              <div class="input-group">
                <input id="footer-open-modal-email" class="input-group-field" type="email" placeholder="Email Address" title="Email Address"
                  required />
                <div class="input-group-label form-error">
                  <i class="fa fw fa-exclamation-triangle" aria-hidden="true"></i>
                </div>
                <div class="input-group-button">
                  <button id="footer-open-modal-trigger" class="button button--gray--solid" role="button" type="submit">Subscribe</button>
                  <!-- metro and community can be populated on a per page basis, if required -->
                  <a id="footer-open-modal" class="hidden" data-open="contact-form-modal" data-metro="" data-community="" data-email="" data-mode="footer"
                    aria-hidden="true"></a>
                </div>
              </div>
              <div class="error" style="display: none;" data-abide-error>
                <p>Please enter a valid email address.</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row full-width background--gray diff">
    <div class="columns">
      <div class="footer--bottom">
        <div class="row align-middle">
          <div class="small-12 medium-7 columns text-left">
            <ul class="divided-list">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Terms of Use</a>
              </li>
              <li>
                <a href="#">Claims*</a>
              </li>
              <li>
                <a href="#" target="_blank">MyMeritage Buyer Portal</a>
              </li>
            </ul>
          </div>
          <div class="small-12 medium-5 columns">
            <ul class="footer--logo-list">
              <li>
                <img src="/etc/logos/footer_logo_equalhousingopportunity.png" alt="EQUAL HOUSING OPPORTUNITY">
              </li>
              <li>
                <img src="/etc/logos/footer_logo_realtor.png" alt="Realtor">
              </li>
              <li>
                <img src="/etc/logos/footer_logo_energystar.png" alt="Energy Star">
              </li>
            </ul>
          </div>
        </div>
        <div class="row ">
          <div class="column disclaimer text-left">
            <p>Pictures and other images are representative and may depict or contain floor plans, square footages, elevations,
              options, upgrades, landscaping, furnishings, appliances, and designer/decorator features and amenities that
              are not included as part of the home and/or may not be available in all communities. All estimates and claims
              related to energy savings/performance are created exclusively by third party suppliers, rating services, utility
              companies, and/or certified auditors, based on DOE methodology and average energy use and scores. Actual energy
              savings/performance of any home or any of its features may vary widely, depending in part on location, occupant
              behavior and changes in energy provider rates and programs. Home, pricing, features, and community information
              is subject to change, and homes to prior sale, at any time without notice or obligation. Not an offer or solicitation
              to sell real property. Offers to sell real property may only be made and accepted at the sales center for individual
              Meritage Homes communities. Meritage Homes&reg;, Meritage Active Adult, Monterey Homes, Life.Built.Better.&reg;,
              Setting the standard for energy-efficient homes&trade;, and LiVE.NOW are trademarks of Meritage Homes Corporation.</p>
            <p>
              <span>&copy; 2017 Meritage Homes Corporation. All rights reserved.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>