<nav class="nav--main" role="navigation">
  <div class="row full-width diff nav--top hide-for-small-only">
    <div class="columns">
      <ul class="list-unstyled futura-bold">
        <li>
          <a href="#">My Account</a>
        </li>
        <li>
          <a href="#">Agents</a>
        </li>
        <li id="header-live-chat-online" class="chat" onclick="liveagent.startChat('5731A000000PElV')">
          <a href="#">Live Chat</a>
        </li>
        <li id="header-live-chat-offline" class="chat" onclick="window.location = '/after_hours/contact';">
          <a href="#">Live Chat</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">1.877.275.6374</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row full-width diff nav--bottom">
    <div class="columns">
      <a href="/" class="logo">
        <div class="logo--light">
          <img alt="Meritage Homes Logo" src="/etc/logos/logo-meritage-blue.png">
        </div>
        <div class="logo--dark">
          <img alt="Meritage Homes Logo" src="/etc/logos/logo-meritage-green.png">
        </div>
      </a>
      <ul id="main-nav" data-responsive-menu="drilldown large-no-drilldown">
        <li class="hide-for-large not-uppercase">
          <form action="/pages/8.1-global-search/index.php" id="nav-search-form" method="GET">
            <div class="input-group">
              <label for="nav-search" class="input-group-label" aria-hidden="true">
                <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                <span class="show-for-sr">Search</span>
              </label>
              <input id="nav-search" class="input-group-field" type="text" name="search" placeholder="Search Meritage Homes" />
              <input type="submit" class="show-for-sr" value="search" />
            </div>
          </form>
        </li>
        <li class="hide-for-large not-uppercase">
          <a href="#">
            <i class="fa fa-crosshairs" aria-hidden="true"></i> Use My Location</a>
        </li>
        <li class="hide-for-large full-width">
          <div class="nav--divider"></div>
        </li>
        <li class="nav--menu-item dropdown--trigger">
          <a href="#">Homes</a>
          <ul class="vertical nav--submenu">
            <li>
              <a href="#">AZ</a>
            </li>
            <li>
              <a href="#">CA</a>
            </li>
            <li>
              <a href="#">CO</a>
            </li>
            <li>
              <a href="#">FL</a>
            </li>
            <li>
              <a href="#">GA</a>
            </li>
            <li>
              <a href="#">NC</a>
            </li>
            <li>
              <a href="#">SC</a>
            </li>
            <li>
              <a href="#">TN</a>
            </li>
            <li>
              <a href="#">TX</a>
            </li>
            <li>
              <a href="#">View Map
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav--menu-item dropdown--trigger">
          <a href="#">Why Meritage</a>
          <ul class="vertical nav--submenu">
            <li>
              <span>See what sets Meritage Homes apart.</span>
            </li>
            <li>
              <a href="#">Why Meritage</a>
            </li>
            <li>
              <a href="#">Energy Efficiency</a>
            </li>
            <li>
              <a href="#">How we design</a>
            </li>
            <li>
              <a href="#">How we build</a>
            </li>
          </ul>

        </li>
        <li class="nav--menu-item dropdown--trigger">
          <a href="#">Active Adult</a>
          <ul class="vertical nav--submenu">
            <li>
              <span>Browse our 55+ Active Adult Communities.</span>
            </li>
            <li>
              <a href="#">Overview</a>
            </li>
            <li>
              <a href="#">See our communities</a>
            </li>
          </ul>
        </li>
        <li class="nav--menu-item dropdown--trigger">
          <a href="#">Monterey Homes</a>
          <ul class="vertical nav--submenu">
            <li>
              <span>Browse our Monterey Homes luxury line.</span>
            </li>
            <li>
              <a href="#">Active Adult Overview</a>
            </li>
            <li>
              <a href="#">See our communities</a>
            </li>
          </ul>
        </li>
        <li class="dropdown--trigger nav--menu-item">
          <a href="#">Buyer Resources</a>
          <ul class="vertical nav--submenu">
            <li>
              <span>Articles, videos and more to help your search.</span>
            </li>
            <li>
              <a href="#">Buying</a>
            </li>
            <li>
              <a href="#">Financing</a>
            </li>
            <li>
              <a href="#">Energy Efficiency</a>
            </li>
            <li>
              <a href="#">Design</a>
            </li>
          </ul>
        </li>
        <li class="nav--menu-item dropdown--trigger">
          <a href="#">My Home</a>
          <ul class="vertical nav--submenu">
            <li>
              <span>Helpful links for current and prospective owners alike.</span>
            </li>
            <li>
              <a href="#">Warranty Claim</a>
            </li>
            <li>
              <a href="#">Homeowner Guide</a>
            </li>
          </ul>
        </li>
        <li class="search show-for-large">
          <a id="button--search" class="button button--white float-right" href="#">
            <i class="fa fa-search" aria-hidden="true"></i> Search</a>
          <a id="button--search--small" href="#">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </li>
        <li class="hide-for-large">
          <div class="nav--divider nav--divider--shorter"></div>
        </li>
        <li class="nav--user--buttons hide-for-large">
          <div class="row">
            <div class="small-6 columns">
              <a href="/" class="button expanded button--gray--solid">Log In</a>
            </div>
            <div class="small-6 columns">
              <a href="/" class="button expanded button--blue--solid">Sign Up</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav--icons--small">
        <li>
          <a href="#">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comments chat" aria-hidden="true" onclick="liveagent.startChat('5731A000000PElV')"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </a>
        </li>
        <li id="menu-toggle">
          <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>